html, body {
    height: 100%;
    width: 100vw;
   background-color: #F2F2F2;
   font-family: 'Manrope', sans-serif;
   color: #0D0D0D;
  }   
  #wrapper {
    height:100vh;
    overflow: hidden; 
    font-size: 25px;
    text-decoration: none;
    color:#0d0d0d;
    transition: color 2.5s ease-out;
    margin-top: -30px;
    background-color: #F28705;
  }
  #first {
    width: 35%;
    height: 60vh;
    float:left; 
    background-color:#F2B705;
  }
  #second {
    height: 100vh;
    overflow: hidden;
   background-color: #05DBF2; 
  }
  

.banner-text {
  height: 50px;
    /* position: absolute;
    font-size: 43px;
    line-height: 25px;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
    color:#F2BF80;
    letter-spacing: 10px;
    
    text-decoration: none; */
  } 
  h1 {
    /* line-height: 4px; */
    font-size: 90px;
    font-family: 'Vollkorn', serif;
    z-index: 1;
    margin-top:160px;
    /* text-align: center; */
    width:100px;
    padding-left: 100px;
    color:#0D0D0D;
  }
  h2 {
    /* line-height: 4opx; */
    font-size: 90px;
    font-family: 'Vollkorn', serif;
    z-index: 1;
    margin-top:-100px;
    /* text-align: center; */
    width:100px;
    margin-left: 170px;
    color:#0D0D0D;
  }

  p {
    font-family: 'Vollkorn', serif;
    font-size: 90px;
    margin-left: -22px;
    width: 1000px;
    position: absolute;
    font-size: 75px;
    line-height: 100px;
    top: 60%;
    left: 35%;
    /* transform: translate(-45%, -20%); */
    color:#0D0D0D}

nav {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        margin-left: 110px;;
        color:#0D0D0D;
        letter-spacing: 10px;
       
      }    
.whitetag {
        font-size: 12px;
        margin-top: 10px;
        margin-right: 70px;
        text-decoration: none;
        color:#0d0d0d;
        /* transition: color 2.5s ease-out;  */

}
.navlink {
        color:#0d0d0d;
          font-size: 12px;
          margin-top: 10px;
          margin-right: 70px;
          text-decoration: none;
          color: #0D0D0D;;
        } 
        
    
        

  /* h1{font-family: 'Vollkorn', serif;
      margin-left: 38px;
      font-size: 90px;
  } */
 